* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background-color: hsl(218, 28%, 13%);
	color: hsl(0, 0%, 100%);
	background-repeat: no-repeat;
	background-position: center;
	font-family: "Open Sans";
	height: 100%;

	header {
		height: auto;
		padding: 0 8%;
		margin-bottom: 8rem;

		nav {
			padding: 3% 0;
			display: flex;
			justify-content: space-between;
			align-items: center;


			.menu {
				display: flex;
				gap: 50px;

				li {
					list-style: none;

					a {
						text-decoration: none;
						color: hsl(212, 8%, 63%);
						font-size: 18px;

						&:hover {
							color: hsl(0, 0%, 100%);
							text-decoration: underline hsl(0, 0%, 100%) 2px;
							text-underline-offset: 5px;
						}
					}
				}
			}
		}

		.intro {
			text-align: center;
			padding-bottom: 30px;

			p {
				margin-bottom: 40px;
			}

			a {
				text-decoration: none;
				color: hsl(0, 0%, 100%);
				background-color: hsl(198, 60%, 50%);
				padding: 10px 60px;
				margin: 20px;
				border-radius: 20px;

				&:hover {
					background-color: hsl(176, 68%, 64%);
				}
			}
		}
	}

	.marketing {
		padding: 0 8%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5rem;
		text-align: center;
		margin-bottom: 5rem;

		div {
			display: flex;
			align-items: center;
			flex-direction: column;

			* {
				padding: 5px;
			}

			img {
				height: 70px;
				width: auto;
			}

			p {
				margin: 0;
				flex-grow: 1;
			}
		}
	}

	.stay_productive {
		padding: 0 8% 8% 8%;
		display: none;
		margin-top: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;

		.imgProductivity {
			img {
				width: 100%;
			}
		}

		.stay {
			* {
				padding: 10px 0;
			}

			a {
				color: hsl(198, 60%, 50%);
				text-decoration: underline hsl(198, 60%, 50%) 2px;
				text-underline-offset: 8px;
				align-items: center;
				text-align: center;

				svg {
					width: 20px;
					vertical-align: middle;
				}

				&:hover {
					color: hsl(0, 0%, 100%);
					text-decoration: underline hsl(0, 0%, 100%) 2px;

					svg {
						circle {
							fill: #fff;
						}
					}

				}
			}
		}
	}

	.testimonies {
		display: flex;
		gap: 35px;
		margin: 0 8% 12% 8%;
		padding: 2.5rem 0;
		background-image: url("/images/bg-quotes.png");
		background-repeat: no-repeat;

		.testimony {
			background-color: hsl(219, 30%, 18%);
			width: 33%;
			padding: 40px 25px;
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
			border-radius: 10px;

			.visual {
				padding-top: 20px;

				figure {
					display: flex;
					gap: 20px;
					align-items: center;

					img {
						border-radius: 50%;
						width: 45px;
					}

					h3 {
						font-size: 16px;
					}

					h5 {
						font-weight: lighter;
						padding: 5px 0;
					}
				}
			}
		}
	}


	footer {
		padding: 0 8%;
		margin-top: 5rem;
		background-color: hsl(216, 53%, 9%);

		.form {
			width: 50vw;
			padding: 30px;
			margin: auto !important;
			text-align: center;
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
			background-color: hsl(217, 28%, 15%);
			border-radius: 10px;
			position: relative;
			bottom: 7rem;

			p {
				padding: 15px 0;
			}

			form {
				padding-top: 20px;

				input[type="submit"] {
					font-family: "Open sans";
				}

				#email {
					width: 50%;
					border-radius: 25px;
					height: 45px;
					outline: none;
					padding: 0 10px;
					border: none;
					margin-right: 20px;

					&:active {
						outline: none;
						border: none;
					}

					&:focus {
						box-shadow: 0 0 0 2px hsl(198, 60%, 50%);
					}
				}

				#submit {
					width: 35%;
					border-radius: 25px;
					height: 45px;
					outline: none;
					border: none;
					font-size: 14px;
					background-color: hsl(198, 60%, 50%);
					color: hsl(0, 0%, 100%);
					cursor: pointer;
					padding: 0 15px;

					&:hover {
						background-color: hsl(176, 68%, 64%);
					}
				}
			}
		}

		.foot {
			.contactInfo {
				display: flex;
				justify-content: space-between;
				padding: 2rem 0;

				.location {
					display: flex;
					align-items: start;
					width: 30%;
					gap: 15px;
				}

				.info {
					.phone {
						display: flex;
						padding-bottom: 10px;
						gap: 20px;

						a {
							text-decoration: none;
							color: hsl(212, 8%, 63%);

							&:hover {
								color: hsl(0, 0%, 100%);
							}
						}
					}

					.email {
						display: flex;
						gap: 20px;

						a {
							text-decoration: none;
							color: hsl(212, 8%, 63%);

							&:hover {
								color: hsl(0, 0%, 100%);
							}
						}
					}
				}

				.aboutUs {
					ul li {
						padding: 0 0 15px 0;
					}
				}

				.contact {
					ul li {
						padding: 0 0 15px 0;
					}
				}

				ul li {
					list-style: none;

					a {
						text-decoration: none;
						color: hsl(0, 4%, 74%);

						&:hover {
							color: hsl(0, 0%, 100%);
						}
					}
				}

				.socialMedia {
					ul {
						display: flex;
						gap: 10px;

						li {
							a {
								i {
									border: 1px solid hsl(222, 4%, 51%);
									border-radius: 50%;
									width: 48px;
									height: 45px;
									line-height: 40px;
									padding: 2px;

									&:hover {
										border: 1px solid hsl(176, 68%, 64%);
										color: hsl(176, 68%, 64%);
									}
								}
							}
						}
					}
				}
			}
		}
	}



	.devInfo {
		display: none;
	}



	@media (max-width: 768px) {
		.desktop-br {
			display: none;
		}

		footer {

			.form {
				width: 80vw !important;
				margin: auto;
			}
		}

	}

	@media (max-width: 956px) {

		header {
			nav {
				padding: 8% 0;
			}
		}

		.imgCover {
			img {
				width: 100%;
			}
		}

		.stay_productive {
			flex-direction: column;
		}

		.testimonies {
			flex-direction: column;
			margin-bottom: 18%;

			.testimony {
				width: 100%;
			}
		}

		footer {
			.form {
				width: 65vw;

				form {
					width: 100%;
					text-align: center;

					#email,
					#submit {
						width: 90%;
						vertical-align: middle;
						margin: 0;
					}

					#email {
						margin-bottom: 20px;
					}
				}
			}

			.foot {

				.contactInfo {
					flex-direction: column;
					text-align: left;
					padding-bottom: 0;

					.location {
						width: 100%;
						margin: 0 0 30px 0;
					}

					.aboutUs {
						margin: 2rem 0 1rem 0;
					}

					.contact {
						margin: 0 0 1rem 0;
					}

					.socialMedia {
						margin: 2rem 0 1.5rem 0;

						ul {
							justify-content: center;
						}
					}
				}
			}
		}
	}

	@media (max-width: 685px) {
		body {
			padding: 0 5%;
		}
	}

	@media (max-width: 600px) {
		header {
			nav {
				.logo {
					display: block;

					a {
						display: inline-block;
						object-fit: contain;

						img {
							display: block;
							width: 100%;
						}
					}
				}

				.menu {
					gap: 20px;
				}

			}
		}
	}

	@media (max-width: 500px) {
		header {
			nav {

				.menu {
					gap: 10px;

					li {
						a {
							font-size: 16px;
						}
					}
				}

			}
		}
	}

	@media (max-width: 450px) {
		header {
			nav {
				.logo {
					width: 89.84px;

					img {
						width: inherit
					}
				}
			}
		}

	}

	@media (max-width: 360px) {
		header {
			nav {

				.menu {
					gap: 10px;

					li {
						a {
							font-size: 14px;
						}
					}
				}

			}
		}
	}

	@media (max-width: 647px) {
		.marketing {
			grid-template-columns: 1fr !important;
		}

		footer {
			.form {
				bottom: 4rem;
			}
		}
	}
}